*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}
.inputs{
    margin:50;
    top:100px;
    columns: 20px 3;
}
.colpal{
    margin: 5px;
    padding:5px;
}
  #color-picker {
    position: absolute;
    left: 70px; 
    height: 150px;
    width: 185px;
    opacity: 1;
    margin:0;
    border:0;
    padding:0;
  }
  canvas:hover {
    cursor: crosshair;
  }
